<!-- <mat-card class = "toTheLeft">
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput
             type="text"
             name="title"
             placeholder="Title"
             ngModel
             required
             #title="ngModel">
      <mat-error *ngIf="title.invalid">Title is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                rows="10"
                name="content"
                placeholder="Content"
                ngModel
                required
                #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Content is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save post</button>
  </form>
</mat-card> -->

<mat-card class="toTheLeft">
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" class="form-container">
    <mat-form-field>
      <input matInput
             type="text"
             name="title"
             placeholder="Title"
             ngModel
             required
             #title="ngModel">
      <mat-error *ngIf="title.invalid">Title is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                rows="10"
                name="content"
                placeholder="Content"
                ngModel
                required
                #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Content is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save post</button>
  </form>
</mat-card>
