.mycss{
  background-color: lightsalmon;
  text-align: center;
  padding-top:15px;
}

.textCenter{
  text-align: center;
  margin: auto;

}

.toolbar-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the toolbar row takes up the full height */
}
